CATALOG_HOST=localhost
CATALOG_PORT=5433
CATALOG_DB=ducklake_catalog
CATALOG_USER=ducklake
CATALOG_PASSWORD=ducklake_password

STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET=lakehouse
STORAGE_REGION=us-east-1

LAKE_NAME=poc_lake
LAKE_DATA_PATH=s3://lakehouse/data/

SEED_TOTAL_EVENTS=100000
CONCURRENT_WRITERS=4
