POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=telemetry
POSTGRES_USER=telemetry_user
POSTGRES_PASSWORD=telemetry_password

SEED_TOTAL_EVENTS=80000
SEED_BACKFILL_HOURS=6

STREAM_BATCH_SIZE=500
STREAM_INTERVAL_SECONDS=1.0
